@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

:root {
  --text-black: 39, 39, 39;
  --text-gray: 96, 96, 96;
  --border-black: 0, 0, 0;
  --blue-primary-bg: 82, 110, 211;
  --orange-primary-bg: 233, 78, 28;
  --orange-secondary-bg: 255, 112, 67;
}

body {
  font-family: "Manrope" sans-serif;
  font-size: 18px;
}
