@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

:root {
  --text-black: 39, 39, 39;
  --text-gray: 96, 96, 96;
  --border-black: 0, 0, 0;
  --blue-primary-bg: 82, 110, 211;
  --orange-primary-bg: 233, 78, 28;
  --orange-secondary-bg: 255, 112, 67;
}

body {
  font-family: "Manrope" sans-serif;
  font-size: 18px;
  color: var(--text-black);
  font-weight: 400;
}

@layer utilities {
  .bg-features-gradient {
    background-color: rgba(var(--blue-primary-bg), 0.05);
  }
  .bg-cta-gradient {
    background-color: rgba(var(--orange-secondary-bg), 0.1);
  }
}

.navbar-mobile-wrapper {
  display: block;
  visibility: visible;
  width: 100%;
  max-width: 100vw;
  padding: 0 24px;
  background: #fff;
  z-index: 2000;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
}
/* CSS to apply easing effect */
html {
  scroll-behavior: smooth;

  /* Custom cubic-bezier easing */
  scroll-behavior: cubic-bezier(0.42, 0, 0.58, 1);
}
